services:
  db:
   container_name: studentdb
   build:
      context: .
      dockerfile: Dockerfile.db
   environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: student_db
   ports:
      - "5432:5432"

  backend:
   build:
      context: .
      dockerfile: Dockerfile.backend
   env_file:
      - .env
   depends_on:
      - db
   ports:
      - "8000:8000"
    
